<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <style>
        /* Seu estilo */
    </style>
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <table>
            <thead>
                <tr>
                    <th>Título</th>
                    <th>Status</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.title }}</td>
                        <td>{{ task.status }}</td>
                        <td>
                            <a href="{{ url_for('adicionar.add_task') }}" class="btn">Adicionar Nova Tarefa</a>
                            <!-- Outros links -->
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{{ url_for('dashboard') }}">Voltar ao Dashboard</a>
    </div>
    <div class="logout">
        <a href="{{ url_for('logout') }}" class="btn">Sair</a>
    </div>
</body>
</html>
