{% extends "base.html" %}

{% block content %}
<h2>Registrar</h2>

<!-- Exibindo mensagens flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="alert {{ messages[0][0] }}">
            {% for category, message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}

<form method="POST">
    <label for="username">Usuário:</label>
    <input type="text" name="username" id="username" required>

    <label for="email">Email (Gmail):</label>
    <input type="email" name="email" id="email" required placeholder="example@gmail.com"
           pattern="[a-zA-Z0-9._%+-]+@gmail\.com" title="Por favor, insira um email válido do Gmail.">

    <label for="password">Senha:</label>
    <input type="password" name="password" id="password" required>

    <button type="submit">Registrar</button>
</form>

<p>Já tem uma conta? <a href="{{ url_for('main.login') }}">Login</a></p>

{% endblock %}
